.v-btn.is-icon {
  min-width: auto;
}

.btn-animate-rotate {
  i {
    transition: all 4s ease;
    transform: rotate(0deg);
  }
  &:hover i {
    transform: rotate(360deg);
  }
}

.btn-animate-grow {
  i {
    transition: all 2s ease;
    transform: scale(1);
  }
  &:hover i {
    transform: scale(1.25);
  }
}

.btn-animate-edit {
  i {
    transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(0deg);
  }
  &:hover i {
    transform: rotate(-45deg);
  }
}

.v-application .btn-animate-edit.v-btn--fab.primary {
  background-color: #303030 !important;
  border-color: #303030 !important;
  box-shadow:
    0px 1px 18px 0px rgba(0, 0, 0, 0.12),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 3px 5px -1px rgba(0, 0, 0, 0.2) !important;
}

.btn-animate-wrench {
  i {
    transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(0deg);
  }
  &:hover i {
    transform: rotate(45deg);
  }
}

.btn-animate-app {
  i {
    transition: all .6s ease;
    transform: translate3d(0,0,0);
    transform-style: preserve-3d;
  }
  &:hover i {
    transform: scale(.7) rotateX(-180deg);
  }
}

.btn-normalcase {
  text-transform: none;
}
